@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {

  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color:#333333;
  background-color:#F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;}

.page-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
}

.page-header-container {
  display: flex;
  width: 1090px;
  margin: 0 auto;
}

.navigation {
 width: 370px;
 margin: 0;
 margin-right: 105px;
 padding: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  margin: 0;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 17px;
  padding-bottom: 17px
}

.user-navigation {
  display: flex;
  max-width: 340px;
  margin: 0;
  margin-left: auto;
  padding-right: 15px;
  align-items: center;
}

.user-nav-link {
  width: 31px;
  height: 37px;
  margin-right: 20px;
  text-decoration: none;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-transform: uppercase;
}

.blue-button {
  background-color: #83B3D3;
}

.green-button {
  background-color: #7DB54F;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.hotel-search-link {
  font-size: 20px;
  line-height: 36px;
}

.newsletter-button,
.pagination-download-more,
.pagination-link {
  font-size: 20px;
  line-height: 26px;
}

.reset-button {
  font-size: 18px;
  line-height: 24px;
  background: transparent;
  text-transform: none;
}

.main-index {
  width: 1200px;
  margin: 0 auto;
}

.main-index,
.main-inner {
  margin-top: -10px;
}

.page-logo {
  z-index: 1;
}

.welcome {
  background-color: rgb(56, 10, 10);
  background-image: url("../img/background/index-background.jpg");
  background-size: 1200px 485px;
  background-repeat: no-repeat;
  text-align: center;
}

.welcome-picture {
  margin-top: 51px;
  margin-bottom: 82px;
}

.main-introduction {
  text-align: center;
  padding-top: 63px;
  padding-bottom: 79px;
}

.main-introduction p:nth-child(1) {
  width: 720px;
  margin: 0 auto;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.main-introduction p:nth-child(2) {
  width: 720px;
  margin: 0 auto;
  font-weight: 400;
  line-height: 36px;
}

.advantages {
  width: 1200px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-container {
  width: 400px;
}

.advantages-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
  margin-top: 98px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-item:nth-child(4n+1) .advantages-title {
  color: #FFFFFF;
}

.advantages-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  margin: 0;
  padding: 0;
}

.advantages-item:nth-child(4n+1) {
  display: flex;
  width: 1200px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item:nth-child(3) {
  background-color: #FFFFFF;
}

.advantages-item:nth-child(7) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-description {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.advantages-number {
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 26px;
}

.hotel-search {
  width: 1200px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  padding-top: 91px;
  padding-bottom: 91px;
}

.hotel-search p {
  width: 720px;
  margin-left:auto;
  margin-right:auto;
  margin: 0 auto;
  margin-bottom: 60px;
}

.hotel-search-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.newsletter {
  width: 1200px;
  text-align: center;
  font-size: 400;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.newsletter-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
}

.newsletter p {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 46px;
}

.index-newsletter {
  background-size: 1200px 411px;
  color: #FFFFFF;
  background-color: rgb(56, 10, 10);
  background-image: url("../img/background/newsletter-background.jpg");
  background-repeat: no-repeat;
}

.index-newsletter .newsletter-title {
  color: #FFFFFF;
}

.page-footer-container {
  width: 1090px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-social {
  width: 150px;
  margin: 0;
  margin-right: 255px;
  padding: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.contacts-phone-container {
  width: 340px;
  text-align: center;
}

.footer-contacts-phone {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-htmlacademy-link {
  margin-left: auto;
  padding: 15px;
}

.inner-background-container {
  width: 1200px;
  margin: 0 auto;
  color: #FFFFFF;
  background-color: rgb(56, 10, 10);
  background-image: url("../img/background/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 24px;
}

.top-block-container {
  width: 1060px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 80px;
}

.inner-header {
  margin-bottom: 45px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 5px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-right: 26px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.price-opacity {
  opacity: 0.3;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
}

.catalog-filter-group:nth-child(1) {
  margin-right: 67px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 170px;
}

.buttons-container {
  margin-left: 80px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.buttons-container {
  display: flex;
  flex-direction: column;
}

.sorting {
  display: flex;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  width: 1060px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 45px;
}

.sorting b {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin-right: 192px;
}

.display-type {
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.display-type-item {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.display-type-item:nth-child(3) {
  margin-right: 0;
}

.hotels {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  width: 1060px;
  margin: 0 auto;
}

.hotels-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
}

.hotels-card-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.hotels-card-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.button-download-more-container {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.button-download-more {
  width: 630px;
}

.pagination-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.hotels-cards-number {
  display: flex;
  align-items: center;
}

.hotels-cards-number label{
  margin-right: 51px;
}
