@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color:#333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 5px #e5e5e5;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 55px;
}

.navigation {
 width: 370px;
 padding: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 17px;
  padding-bottom: 17px;
  position: relative;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  outline: none;
  color: #756257;
  box-shadow: inset 0 0 0 3px #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.navigation-link:active {
  color: #756257;
  opacity: 0.3;
}

.navigation-link-current::before {
  position: absolute;
  right: 12px;
  bottom: 0;
  left: 14px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.user-navigation {
  display: flex;
  max-width: 340px;
  padding-right: 15px;
  align-items: center;
}

.user-nav-link {
  width: 38px;
  height: 38px;
  text-decoration: none;
  text-align: center;
  position: relative;
}

.user-nav-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.user-nav-link:hover .user-nav-icon {
  fill: #756257;
}

.user-nav-link:focus .user-nav-icon {
  fill: #756257;
}

.user-nav-link:focus {
  outline: none;
  border-radius: 10px;
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.user-nav-link:active .user-nav-icon {
  fill: #756257;
  opacity: 0.3;
}

.favourites {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.favourites::before {
  position: absolute;
  width: 19px;
  height: 19px;
  box-sizing: border-box;
  background-color: #7DB54F;
  color: #FFFFFF;
  content: "12";
  border-radius: 50%;
  font-size: 10px;
  line-height: 13px;
  z-index: 1;
  top: 1px;
  right: -3px;
padding-right: 2px;
padding-top: 2px;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-transform: uppercase;
  padding: 8px 35px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.blue-button {
  background-color: #83B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.hotel-search-link {
  display: block;
  width: 575px;
  font-size: 20px;
  line-height: 36px;
  margin: 0 auto;
  padding: 12px 0;
  text-decoration: none;
  border-radius: 10px;
}

.newsletter-button,
.pagination-download-more,
.pagination-link {
  font-size: 20px;
  line-height: 26px;
}

.reset-button {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background: transparent;
  text-transform: none;
  margin-top: 16px;
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:focus {
  box-shadow: 0 0 0 3px #83B3D3;
  border-radius: 4px;
  width: 100px;
  padding-left: 5px;
  padding-right: 5px;
  align-self: center;
  outline: none;
}

.reset-button:active {
  opacity: 0.3;
}

.add-favorites {
  margin-left: 23px;
}

.add-favorites:hover,
.hotel-search-link:hover,
.more-button:hover {
  background-color: #615048;
}

.add-favorites:focus,
.hotel-search-link:focus,
.more-button:focus {
  outline: none;
  background-color: #615048;
  box-shadow: 0 0 0 3px #83B3D3;
}

.add-favorites:active,
.hotel-search-link:active,
.more-button:active {
  background-color: #615048;
  opacity: 0.3;
}

.newsletter-button:hover,
.favourits-button:hover,
.button-download-more:hover,
.pagination-link:hover {
  background-color: #68A2CA;
}

.newsletter-button:focus,
.favourits-button:focus,
.button-download-more:focus,
.pagination-link:focus {
  outline: none;
  background-color: #68A2CA;
  box-shadow: 0 0 0 3px #756257;
}

.newsletter-button:active,
.favourits-button:active,
.button-download-more:active,
.pagination-link:active {
  background-color: #68A2CA;
  opacity: 0.3;
}

.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  outline: none;
  color: #000000;
  background-color: #F2F2F2;
  opacity: 1;
}

.added-to-favourits {
  background-color: #7DB54F;
}

.added-to-favourits:hover {
  background-color: #6C9E42;
}

.added-to-favourits:focus {
  background-color: #6C9E42;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
}

.added-to-favourits:active {
  background-color: #6C9E42;
  opacity: 0.3;
}

.apply-button {
  padding-top: 14px;
  padding-bottom: 14px;
}

.apply-button:hover {
  background-color: #68A2CA;
}

.apply-button:focus {
  background-color: #68A2CA;
  box-shadow: 0 0 0 3px #FFFFFF;
  outline: none;
}

.apply-button:active {
  background-color: #68A2CA;
  opacity: 0.3;
}

.page-logo {
  position: absolute;
  top: 0;
  left: 531px;
  z-index: 1;

}

.welcome {
  background-color: rgb(56, 10, 10);
  background-image: url("../img/background/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}

.welcome-picture {
  margin-top: 51px;
  margin-bottom: 82px;
}

.divider {
  position: absolute;
  background-image: url("../img/icons/interface/divider.svg");
  bottom: 0;
  left: 0;
  right: 0;
  height: 57px;
}

.advantages-introduction {
  text-align: center;
  padding-top: 63px;
  padding-bottom: 79px;
}

.advantages-introduction p:nth-child(1) {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 23px;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

}

.advantages-introduction p:nth-child(2) {
  width: 720px;
  margin: 0 auto;
  font-weight: 400;
  line-height: 36px;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-container {
  width: 400px;
}

.advantages-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
  margin-top: 98px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.housing .advantages-title,
.eating .advantages-title,
.souvenir .advantages-title {
  margin-top: 184px;
}

.advantages-item:nth-child(4n+1) .advantages-title {
  color: #FFFFFF;
}

.advantages-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4n+1) {
  display: flex;
  width: 1200px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item:nth-child(3) {
  background-color: #FFFFFF;
}

.advantages-item:nth-child(7) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-description {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.advantages-number {
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 26px;
}

.housing {
  background-image: url("../img/icons/feature/housing.svg");
  background-repeat: no-repeat;
  background-position: 163px 89px;
}

.eating {
  background-image: url("../img/icons/feature/eating.svg");
  background-repeat: no-repeat;
  background-position: 163px 91px;
}

.souvenir {
  background-image: url("../img/icons/feature/souvenir.svg");
  background-repeat: no-repeat;
  background-position: 168px 85px;
}

.hotel-search {
  font-weight: 400;
  text-align: center;
  padding-top: 91px;
  padding-bottom: 91px;
}

.hotel-search p {
  width: 720px;
  margin-left:auto;
  margin-right:auto;
  margin: 0 auto;
  margin-bottom: 60px;
}

.hotel-search-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.newsletter {
  text-align: center;
  font-weight: 400;
  padding-top: 94px;
  padding-bottom: 94px;
}

.newsletter-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
}

.newsletter-description {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 46px;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 800px;
  box-sizing: border-box;
  margin: 0 auto;
}

.newsletter-email {
  margin: 0;
  padding: 0;
}

.field {
  width: 600px;
  box-sizing: border-box;
  padding: 0 22px;
  border: none;
  background-color: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  font: inherit;
  font-size: 18px;
  line-height: 26px;
}

.field:hover,
.field:focus {
  background-color: #E5E5E5;
}

.field:focus {
  outline: 3px solid #83B3D3;
}

.field::placeholder {
  color: #000000;
  opacity: 0.6;
}

.newsletter-button {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 34px;
  padding-right: 34px;
  border: none;
  border-radius: 0px 10px 10px 0px;
}

.index-newsletter {
  background-size: cover;
  color: #FFFFFF;
  background-color: rgb(56, 10, 10);
  background-image: url("../img/background/newsletter-background.jpg");
  background-repeat: no-repeat;
}

.index-newsletter .newsletter-title {
  color: #FFFFFF;
}

.page-footer-container {
  padding: 0 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-social {
  width: 150px;
  margin-right: 255px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 40px;

  margin-right: 10px;
  margin-bottom: 10px;
}

.social-link {
  position: relative;
  display: block;
  height: 40px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.social-link:hover .social-icon {
  fill: #68A2CA;
}

.social-link:focus {
  border-radius: 10px;
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.social-link:focus .social-icon {
  fill: #68A2CA;
}

.social-link:active {
  opacity: 0.3;
}

.social-link:active .social-icon {
  fill: #68A2CA;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contacts-phone {
  width: 361px;
  height: 70px;
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  box-sizing: border-box;
}



.footer-htmlacademy-link {
  width: 160px;
  height: 70px;
  margin-left: auto;
  padding: 18px 22px;
  box-sizing: border-box;
}

.html-icon {
  fill: #000000;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-htmlacademy-link:hover .html-icon {
  fill: #756257;
}

.footer-htmlacademy-link:focus .html-icon {
  fill: #756257;
}

.footer-contacts-phone:focus,
.footer-htmlacademy-link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
  color: #756257;
  outline: none;
}

.footer-htmlacademy-link:active .html-icon {
  fill: #756257;
}

.footer-contacts-phone:active,
.footer-htmlacademy-link:active {
  opacity: 0.3;
  color: #756257;
}



.inner-background-container {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 35px;
  padding-bottom: 80px;
  color: #FFFFFF;
  background-color: rgb(56, 10, 10);
  background-image: url("../img/background/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 24px;
}

.inner-header {
  margin-bottom: 45px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 5px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: baseline;
}

.breadcrumbs-item + .breadcrumbs-item {
  padding-left: 16px;
  position: relative;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: url("../img/icons/interface/more.svg");
  position: absolute;
  left: 5px;
  top: -3px;
}

.breadcrumbs-link {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}

.breadcrumbs-item:first-child {
  width: 22px;
}

.breadcrumbs-icon {
  fill: #FFFFFF;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  box-shadow: 0 0 0 3px #83B3D3;
  border-radius: 4px;
  outline: none;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(1) {
  margin-right: 67px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 170px;
}










.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.control:hover .control-mark {
  background: rgba(255, 255, 255, 0.6);
}

.control-input:focus + .control-mark {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83B3D3;
}

.control:active .control-mark {
  background: rgba(255, 255, 255, 0.3);

}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 13px;
  height: 10px;
  background-image: url("../img/icons/tick/checkbox.svg");
  content:"";
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}












.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}














.range-scale {
  position: relative;
  height: 4px;
  background-color:rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  outline: none;
}

.range-toggle:active {
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  border: 2px solid #83B3D3;
}


.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  margin-top: 34px;
  position: relative;
}

.catalog-filter-label {
  position: absolute;
  opacity: 0.3;
}

.catalog-filter-label:first-of-type {
  left: 112px;
  top: 12px;
}

.catalog-filter-label:last-of-type {
  right: 17px;
  top: 12px;
}

.catalog-filter-input {
  width: 144px;
  padding: 10px 40px 10px 18px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  font: inherit;
  color:#FFFFFF;
  background-color: transparent;
  appearance: textfield;
}

.catalog-filter-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.catalog-filter-input:first-of-type:hover ~ .catalog-filter-input:last-of-type {
  border-left: 2px solid transparent;
}

.catalog-filter-input:last-of-type:hover ~ .catalog-filter-input:first-of-type {
  border-left: 2px solid transparent;
}

.catalog-filter-input:first-of-type {
  border-radius: 4px 0 0 4px;
}

.catalog-filter-input:last-of-type {
  border-radius: 0 4px 4px 0;
  margin-left: -2px;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
























.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style-type: none;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: end;
}

.sorting {
  display: flex;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
  padding-bottom: 45px;
}

.sorting b {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin-right: 192px;
}

.select-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 287px;
}

.select-control {
  width: 100%;
  padding: 12px 50px 13px 19px;
  font: inherit;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url("../img/icons/interface/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
}

.display-type {
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.display-type-item {
  width: 48px;
  margin-right: 8px;

}

.display-type-item:nth-child(3) {
  margin-right: 0;
}

.display-type-button {
  display: block;
  height: 48px;
  width: 48px;
  box-sizing: border-box;
  border: 2px solid #E6E6E6;;
  border-radius: 4px;
  outline: none;
}

.select-control:focus,
.select-cards-number:focus {
  outline: none;
}

.display-type-button:hover,
.display-type-button:focus,
.select-control:hover,
.select-control:focus,
.select-cards-number:hover,
.select-cards-number:focus {
  border: 2px solid #83B3D3;
}

.select-control:active,
.select-cards-number:active {
  opacity: 0.3;
}

.display-type-button-active,
.display-type-button-active:hover,
.display-type-button-active:focus {
  border: 2px solid #000000;
}

.list {
  background-image: url("../img/icons/mode/list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slideshow {
  background-image: url("../img/icons/mode/slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tile {
  background-image: url("../img/icons/mode/tile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hotels {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding: 0 70px;
}

.hotels-list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.hotels-card {
  padding: 30px 0;
  position: relative;
  display: flex;
}

.hotels-card::before,
.pagination-container::before {
  color: #E6E6E6;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
}

.hotels-card::after {
  color: #E5E5E5;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}

.hotels-image-link {
  text-decoration: none;
  width: 180px;
  height: 120px;
}

.hotels-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin: 0;
}

.hotels-card-link {
  color: #000000;
  font: inherit;
  text-decoration: none;
  grid-column: 3/7;
  grid-row: 1/2;
}

.hotels-card-link:hover {
  color: #756257;
}

.hotels-card-link:focus {
  color: #756257;
  padding: 10px 16px;
  box-shadow: 0 0 0 3px #83B3D3;
  border-radius: 10px;
  outline: none;
}

.hotels-card-link:active {
  color: #756257;
  opacity: 0.3;
}

.card-content-container {
  display: flex;
  padding: 0 36px;
  flex-grow: 1;
  flex-direction: column;
}

.card-housing-container {
  display: flex;
  margin: 0;
}

.hotels-card-housing-type {
  width: 151px;
  margin-right: 7px;
}

.card-buttons-container {
  display: flex;
  margin-top: auto;
  margin-bottom: 0;
}

.more-button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  padding-right: 32px;
  text-decoration: none;
  margin-right: 8px;
}

.favourits-button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
}

.rating-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotels-card-stars {
  text-align: center;
  margin: 0;
}

.star {
  display: inline-block;
  width: 18px;
  height: 17px;
  background-image: url("../img/icons/interface/star.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hotels-card-rating {
  display: block;
  background-color: #F2F2F2;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 33px;
  padding-right: 33px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}

.button-download-more {
  display: block;
  width: 630px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 17px 0;
}

.pagination-container {
  display: flex;
  padding-top: 30px;
  position: relative;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
}

.hotels-cards-number {
  margin-left: auto;
}

.cards-number-container label{
  margin-right: 51px;
}

.cards-number-container {
  position: relative;
  display: flex;
  align-items: center;
}

.select-cards-number {
  width: 160px;
  padding: 13px 50px 12px 17px;
  font: inherit;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url("../img/icons/interface/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
}

.hotels-image-link:hover {
  opacity: 0.6;
}

.hotels-image-link:focus {
  box-shadow: 0 0 0 3px #83B3D3;
  outline: none;
}

.hotels-image-link:active {
  opacity: 0.3;
}

.footer-contacts-phone:focus:active,
.footer-htmlacademy-link:focus:active,
.navigation-link:focus:active,
.user-nav-link:focus:active,
.add-favorites:focus:active,
.hotel-search-link:focus:active,
.more-button:focus:active,
.newsletter-button:focus:active,
.favourits-button:focus:active,
.button-download-more:focus:active,
.pagination-link:focus:active,
.added-to-favourits:focus:active,
.social-link:focus:active,
.reset-button:focus:active,
.apply-button:focus:active,
.hotels-image-link:focus:active,
.hotels-card-link:focus:active {
  box-shadow: none;

}

