@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  min-width: 1280px;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 10px 5px #e5e5e5;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 55px;
}

.navigation {
  width: 370px;
  padding: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  margin-right: 4px;
}

.navigation-link {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 19px;
  padding-bottom: 21px;
  position: relative;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  outline: none;
  color: #756257;
  box-shadow: inset 0 0 0 3px #83b3d3;
  box-sizing: border-box;
  border-radius: 10px;
}

.navigation-link:active {
  color: #756257;
  opacity: 0.3;
}

.navigation-link-current::before {
  position: absolute;
  right: 12px;
  bottom: 0;
  left: 14px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.user-navigation {
  display: flex;
  max-width: 340px;
  align-items: flex-start;
  position: relative;
  align-self: flex-start;
  padding: 14px 15px;
  margin-right: 2px;
}

.user-nav-link {
  width: 38px;
  height: 38px;
  text-decoration: none;
  text-align: center;
  position: relative;
}

.user-nav-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.user-nav-link:hover .user-nav-icon {
  fill: #756257;
}

.user-nav-link:focus .user-nav-icon {
  fill: #756257;
}

.user-nav-link:focus {
  outline: none;
  border-radius: 10px;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.user-nav-link:active .user-nav-icon {
  fill: #756257;
  opacity: 0.3;
}

.favourites {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.favourites::before {
  position: absolute;
  width: 19px;
  height: 19px;
  box-sizing: border-box;
  background-color: #7db54f;
  color: #ffffff;
  content: "12";
  border-radius: 50%;
  font-size: 10px;
  line-height: 19px;
  text-align: center;
  z-index: 1;
  top: 1px;
  right: -3px;
  font-weight: 400px;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-transform: uppercase;
  padding: 8px 35px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.blue-button {
  background-color: #83b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.hotel-search-link {
  display: block;
  width: 575px;
  font-size: 20px;
  line-height: 36px;
  margin: 0 auto;
  padding: 12px 0;
  text-decoration: none;
  border-radius: 10px;
}

.newsletter-button,
.pagination-download-more,
.pagination-link {
  font-size: 20px;
  line-height: 26px;
}

.reset-button {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background: transparent;
  text-transform: none;
  margin-top: 16px;
}

.reset-button:hover {
  opacity: 0.6;
}

.reset-button:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 4px;
  width: 100px;
  padding-left: 5px;
  padding-right: 5px;
  align-self: center;
  outline: none;
}

.reset-button:active {
  opacity: 0.3;
}

.add-favorites {
  margin-left: 23px;
  width: 160px;
  padding: 8px 0;
}

.add-favorites:hover,
.hotel-search-link:hover,
.more-button:hover,
.all-favourites-button:hover {
  background-color: #615048;
}

.add-favorites:focus,
.hotel-search-link:focus,
.more-button:focus,
.all-favourites-button:focus {
  outline: none;
  background-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
}

.add-favorites:active,
.hotel-search-link:active,
.more-button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.all-favourites-button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0 1px #615048;
}

.newsletter-button:hover,
.favourits-button:hover,
.button-download-more:hover,
.pagination-link:hover,
.modal-search-submit:hover {
  background-color: #68a2ca;
}

.newsletter-button:focus,
.favourits-button:focus,
.button-download-more:focus,
.pagination-link:focus,
.modal-search-submit:focus {
  outline: none;
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.newsletter-button:active,
.favourits-button:active,
.button-download-more:active,
.pagination-link:active,
.modal-search-submit:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  outline: none;
  color: #000000;
  background-color: #f2f2f2;
  opacity: 1;
}

.added-to-favourits:hover {
  background-color: #6c9e42;
}

.added-to-favourits:focus {
  background-color: #6c9e42;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
}

.added-to-favourits:active {
  background-color: #6c9e42;
  opacity: 0.3;
}

.apply-button {
  padding-top: 14px;
  padding-bottom: 14px;
}

.apply-button:hover {
  background-color: #68a2ca;
}

.apply-button:focus {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #ffffff;
  outline: none;
}

.apply-button:active {
  background-color: #68a2ca;
  opacity: 0.3;
}

.page-logo {
  position: absolute;
  top: 0;
  left: 531px;
  z-index: 1;
}

.welcome {
  background-color: rgb(56, 10, 10);
  background-image: url("../img/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  height: 485px;
}

.welcome-picture {
  margin-top: 51px;
  margin-bottom: 82px;
}

.divider {
  position: absolute;
  background-image: url("../img/icons/interface/divider.svg");
  bottom: 0;
  left: 0;
  right: 0;
  height: 57px;
}

.advantages-introduction {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 79px;
}

.advantages-introduction p:nth-child(1) {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 33px;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-introduction p:nth-child(2) {
  width: 720px;
  margin: 0 auto;
  font-weight: 400;
  line-height: 36px;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-container {
  width: 400px;
}

.advantages-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
  margin-top: 98px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.housing .advantages-title,
.eating .advantages-title,
.souvenir .advantages-title {
  margin-top: 184px;
  margin-bottom: 21px;
}

.advantages-item:nth-child(4n+1) .advantages-title {
  color: #ffffff;
  margin-bottom: 29px;
}

.advantages-item:nth-child(6) .advantages-title,
.advantages-item:nth-child(7) .advantages-title,
.advantages-item:nth-child(8) .advantages-title {
  margin-bottom: 29px;
}

.advantages-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4n+1) {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: #83b3d3;
}

.advantages-item:nth-child(3) {
  background-color: #ffffff;
}

.advantages-item:nth-child(7) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-description {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.housing .advantages-description,
.eating .advantages-description,
.souvenir .advantages-description {
  margin-bottom: 88px;
}

.advantages-item:nth-child(6) .advantages-description,
.advantages-item:nth-child(7) .advantages-description,
.advantages-item:nth-child(8) .advantages-description {
  margin-bottom: 107px;
}

.advantages-number {
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
}

.housing {
  background-image: url("../img/icons/feature/housing.svg");
  background-repeat: no-repeat;
  background-position: 163px 89px;
}

.eating {
  background-image: url("../img/icons/feature/eating.svg");
  background-repeat: no-repeat;
  background-position: 163px 91px;
}

.souvenir {
  background-image: url("../img/icons/feature/souvenir.svg");
  background-repeat: no-repeat;
  background-position: 168px 85px;
}

.hotel-search {
  font-weight: 400;
  text-align: center;
  padding-top: 91px;
  padding-bottom: 89px;
}

.hotel-search p {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 58px;
}

.hotel-search-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.newsletter {
  text-align: center;
  font-weight: 400;
  padding-top: 70px;
  padding-bottom: 137px;
}

.newsletter-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
}

.newsletter-description {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 46px;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 800px;
  box-sizing: border-box;
  margin: 0 auto;
}

.newsletter-email {
  margin: 0;
  padding: 0;
}

.field {
  width: 600px;
  box-sizing: border-box;
  padding: 0 22px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  font: inherit;
  font-size: 18px;
  line-height: 26px;
}

.field:hover,
.field:focus {
  background-color: #e5e5e5;
}

.field:invalid {
  box-shadow: none;
}

.field:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  border: none;
  outline: none;
}

.field:active,
.date-field:active {
  outline: none;
  border: 2px solid #000000;
  box-shadow: none;
}

.field::placeholder,
.date-field::placeholder {
  color: #000000;
  opacity: 0.6;
}

.newsletter-button {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 34px;
  padding-right: 34px;
  border: none;
  border-radius: 0 10px 10px 0;
  min-width: 200px;
}

.index-newsletter {
  padding-top: 94px;
  padding-bottom: 94px;
  background-size: cover;
  color: #ffffff;
  background-color: rgb(56, 10, 10);
  background-image: url("../img/newsletter-background.jpg");
  background-repeat: no-repeat;
}

.index-newsletter .newsletter-title {
  color: #ffffff;
}

.page-footer-container {
  padding-right: 49px;
  padding-left: 60px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.footer-social {
  width: 150px;
  margin-right: 210px;
  margin-top: 37px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 40px;

  margin-right: 5px;
  margin-bottom: 10px;
}

.social-link {
  position: relative;
  display: block;
  height: 40px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.social-link:hover .social-icon {
  fill: #68a2ca;
}

.social-link:focus {
  border-radius: 10px;
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.social-link:focus .social-icon {
  fill: #68a2ca;
}

.social-link:active {
  opacity: 0.3;
}

.social-link:active .social-icon {
  fill: #68a2ca;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contacts-phone {
  width: 363px;
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 22px;
}

.footer-htmlacademy-link {
  width: 160px;
  height: 70px;
  margin-top: 24px;
  margin-left: auto;
  padding-top: 18px;
  padding-bottom: 22px;
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: border-box;
}

.html-icon {
  fill: #000000;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-htmlacademy-link:hover .html-icon {
  fill: #756257;
}

.footer-htmlacademy-link:focus .html-icon {
  fill: #756257;
}

.footer-contacts-phone:focus,
.footer-htmlacademy-link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
  color: #756257;
  outline: none;
}

.footer-htmlacademy-link:active .html-icon {
  fill: #756257;
}

.footer-contacts-phone:active,
.footer-htmlacademy-link:active {
  opacity: 0.3;
  color: #756257;
}

.inner-background-container {
  padding-left: 68px;
  padding-right: 70px;
  padding-top: 40px;
  padding-bottom: 76px;
  color: #ffffff;
  background-color: rgb(56, 10, 10);
  background-image: url("../img/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 24px;
}

.inner-header {
  margin-bottom: 45px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 4px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: baseline;
  flex-wrap: wrap;
}

.breadcrumbs-item + .breadcrumbs-item {
  padding-left: 16px;
  position: relative;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: url("../img/icons/interface/more.svg");
  position: absolute;
  left: 5px;
  top: -3px;
}

.breadcrumbs-link {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}

.breadcrumbs-item:first-child {
  width: 22px;
}

.breadcrumbs-icon {
  fill: #ffffff;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 4px;
  outline: none;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.catalog {
  padding: 2px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(1) {
  margin-right: 64px;
  width: 153px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 168px;
  width: 144px;
}

.catalog-filter-group:nth-child(3) {
  width: 286px;
}

.catalog-filter-group:nth-child(4) {
  width: 160px;
  margin-left: auto;
}

.catalog-filter-list:nth-of-type(1) {
  margin-left: 2px;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control:hover .control-mark {
  background: rgba(255, 255, 255, 0.6);
}

.control-input:focus + .control-mark {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83b3d3;
}

.control:active .control-mark {
  background: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 13px;
  height: 10px;
  background-image: url("../img/icons/tick/checkbox.svg");
  content: "";
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 12px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:focus + .control-mark {
  box-shadow: 0 0 0 3px #83b3d3;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border: 3px solid #83b3d3;
  box-sizing: border-box;
  outline: none;
}

.range-toggle:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  border: 2px solid #83b3d3;
}


.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
  margin-top: 34px;
  position: relative;
}

.catalog-filter-label {
  position: absolute;
  opacity: 0.3;
}

.catalog-filter-label:first-of-type {
  left: 112px;
  top: 12px;
}

.catalog-filter-label:last-of-type {
  right: 17px;
  top: 12px;
}

.catalog-filter-input {
  width: 144px;
  padding: 10px 40px 10px 18px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  font: inherit;
  color: #ffffff;
  background-color: transparent;
  appearance: textfield;
}

.catalog-filter-input:first-of-type {
  border-radius: 4px 0 0 4px;
}

.catalog-filter-input:last-of-type {
  border-radius: 0 4px 4px 0;
  margin-left: -2px;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-input,
.number-field {
  -moz-appearance: textfield;
}

.catalog-filter-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.catalog-filter-input:focus {
  box-shadow: 0 0 0 3px #81b3d2,
              inset 0 0 0 3px #81b3d2;
  outline: none;
  position: relative;
  z-index: 1;
}

.catalog-filter-input:active,
.catalog-filter-input:active:hover {
  background-color: #756257;
  border: 2px solid #ffffff;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
}

.catalog-filter-list {
  margin: 0;
  margin-top: 28px;
  padding: 0;
  list-style-type: none;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: auto;
  width: 160px;
  margin-top: 59px;
}

.sorting {
  display: flex;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding-left: 70px;
  padding-right: 72px;
  padding-top: 44px;
  padding-bottom: 45px;
}

.sorting b {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin-right: 193px;
  max-width: 340px;
  margin-top: 4px;
}

.select-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 287px;
}

.select-control {
  width: 100%;
  padding: 9px 50px 12px 17px;
  font: inherit;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../img/icons/interface/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
}

.select-control,
.select-cards-number {
  -moz-appearance: none;
}

.navigation-link:focus,
.user-nav-link:focus,
.favourites-item-link:focus,
.breadcrumbs-link:focus,
.display-type-button:focus,
.hotels-card-link:focus,
.button:focus,
.social-link:focus,
.footer-contacts-phone:focus,
.footer-htmlacademy-link:focus,
.navigation-link:active,
.user-nav-link:active,
.favourites-item-link:active,
.breadcrumbs-link:active,
.display-type-button:active,
.hotels-card-link:active,
.button:active,
.social-link:active,
.footer-contacts-phone:active,
.footer-htmlacademy-link:active,
.user-nav-link::-moz-focus-inner,
.button::-moz-focus-inner,
.favourites-item-delete::-moz-focus-inner,
.modal-close-button::-moz-focus-inner,
.number-change::-moz-focus-inner,
.info::-moz-focus-inner,
.catalog-filter-input::-moz-focus-inner,
.field::-moz-focus-inner,
.range-toggle::-moz-focus-inner,
.modal-search-field::-moz-focus-inner,
.select-control::-moz-focus-inner,
.select-cards-number::-moz-focus-inner {
  border: none;
  outline: none;
}

.display-type {
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  list-style-type: none;
  width: 160px;
  flex-wrap: wrap;
}

.display-type-item {
  width: 48px;
  margin-right: 8px;
}

.display-type-item:nth-child(3) {
  margin-right: 0;
}

.display-type-button {
  display: block;
  height: 48px;
  width: 48px;
  box-sizing: border-box;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  outline: none;
}

.select-control:focus,
.select-cards-number:focus {
  outline: none;
}

.display-type-button:hover,
.display-type-button:focus,
.select-control:hover,
.select-control:focus,
.select-cards-number:hover,
.select-cards-number:focus {
  border: 2px solid #83b3d3;
}

.display-type-button:active {
  border: 2px solid #000000;
}

.select-control:active,
.select-cards-number:active {
  border: 2px solid #e5e5e5;
  opacity: 0.3;
}

.display-type-button-active,
.display-type-button-active:hover,
.display-type-button-active:focus {
  border: 2px solid #000000;
}

.list {
  background-image: url("../img/icons/mode/list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slideshow {
  background-image: url("../img/icons/mode/slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tile {
  background-image: url("../img/icons/mode/tile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hotels {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding: 0 72px;
  padding-bottom: 10px;
}

.hotels-list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.hotels-card {
  padding: 30px 0;
  position: relative;
  display: flex;
}

.hotels-card::before {
  background-color: #e5e5e5;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
}

.pagination-container {
  position: relative;
  display: flex;
  padding-top: 30px;
  overflow: auto;
}

.pagination-container::before {
  background-color: #e5e5e5;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
}

.hotels-card::after {
  background-color: #e5e5e5;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}

.hotels-image-link {
  text-decoration: none;
  width: 180px;
  height: 120px;
}

.hotels-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 3px;
}

.hotels-card-link {
  color: #000000;
  font: inherit;
  text-decoration: none;
  grid-column: 3/7;
  grid-row: 1/2;
}

.hotels-card-link:hover {
  color: #756257;
}

.hotels-card-link:focus {
  color: #756257;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.hotels-card-link:active {
  color: #756257;
  opacity: 0.3;
  outline: none;
}

.card-content-container {
  display: flex;
  padding: 0 36px;
  flex-grow: 1;
  flex-direction: column;
}

.card-housing-container {
  display: flex;
  margin: 0;
}

.hotels-card-housing-type {
  width: 151px;
  margin-right: 7px;
}

.card-buttons-container {
  display: flex;
  margin-top: auto;
  margin-bottom: 0;
}

.more-button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  padding-right: 32px;
  text-decoration: none;
  margin-right: 8px;
}

.favourits-button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
}

.added-to-favourits {
  background-color: #7db54f;
  padding-right: 25px;
}

.rating-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotels-card-stars {
  text-align: center;
  margin: 0;
}

.star {
  display: inline-block;
  padding-left: 1px;
  width: 18px;
  height: 17px;
  background-image: url("../img/icons/interface/star.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hotels-card-rating {
  display: block;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 33px;
  padding-right: 33px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}

.button-download-more {
  display: block;
  width: 625px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 17px 0;
  font-size: 20px;
}

.pagination-list {
  margin: 0;
  margin-right: 200px;
  padding: 0;
  display: flex;
  list-style-type: none;
  width: 370px;
  flex-wrap: wrap;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 7px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 55px;
  min-height: 55px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
}

.hotels-cards-number {
  margin-left: auto;
  margin-top: 2px;
}

.cards-number-container label {
  margin-right: 51px;
}

.cards-number-container {
  position: relative;
  display: flex;
  align-items: center;
}

.select-cards-number {
  width: 160px;
  padding: 12px 50px 11px 16px;
  font: inherit;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../img/icons/interface/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
  align-self: center;
}

.hotels-image-link:hover {
  opacity: 0.6;
}

.hotels-image-link:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.hotels-image-link:active {
  opacity: 0.3;
}

.footer-contacts-phone:focus:active,
.footer-htmlacademy-link:focus:active,
.navigation-link:focus:active,
.user-nav-link:focus:active,
.add-favorites:focus:active,
.hotel-search-link:focus:active,
.more-button:focus:active,
.newsletter-button:focus:active,
.favourits-button:focus:active,
.button-download-more:focus:active,
.pagination-link:focus:active,
.added-to-favourits:focus:active,
.social-link:focus:active,
.reset-button:focus:active,
.apply-button:focus:active,
.hotels-image-link:focus:active,
.hotels-card-link:focus:active,
.favourites-item-link:focus:active,
.favourites-item-delete:focus:active,
.modal-close-button:focus:active,
.modal-search-submit:focus:active,
.number-change:focus:active,
.catalog-filter-input:focus:active,
.breadcrumbs-link:focus:active,
.modal-search-field:focus:active {
  box-shadow: none;
}

.popover {
  position: absolute;
  top: 60px;
  right: 15px;
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  background-color: #ffffff;
  min-height: 200px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px 20px 24px 24px;
  display: none;
}

.popover::before {
  content: url("../img/icons/interface/triangle.svg");
  position: absolute;
  top: -20px;
  left: 188px;
}

.popover-open {
  display: block;
}

.popover-content {
  height: 100%;
  padding: 15px;
  padding-bottom: 18px;
}

.favourites-items-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.favourites-item {
  display: flex;
}

.favourites-item:not(:last-child) {
  margin-bottom: 5px;
}

.favourites-item-link {
  display: flex;
  text-decoration: none;
  font: inherit;
  padding: 10px;
}

.favourites-item-link:hover {
  opacity: 0.6;
}

.favourites-item-link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
  outline: none;
}

.favourites-item-link:active {
  opacity: 0.3;
}

.favourites-image-container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 17px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.favourites-item-container {
  display: flex;
  flex-direction: column;
  max-width: 244px;
  padding-top: 5px;
}

.favourites-item-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.favourites-item-price {
  margin: 0;
  font: inherit;
  font-size: 16px;
  line-height: 16px;
  color: #333333;
}

.favourites-item-delete {
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 10px;
  margin-left: auto;
  margin-bottom: 13px;
  text-align: center;
  opacity: 0.2;
}

.favourites-item-delete:hover {
  opacity: 1;
}

.favourites-item-delete:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border: none;
  border-radius: 10px;
  outline: none;
  opacity: 1;
}

.favourites-item-delete:active {
  opacity: 0.1;
}

.all-favourites-button {
  width: 100%;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 0 1px #756257;
  padding-top: 17px;
  padding-bottom: 20px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  padding-top: 62px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
}

.modal-search {
  width: 715px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 20px;
}

.modal-close-button:hover {
  background-color: #e5e5e5;
}

.modal-close-button:focus {
  background-color: #e5e5e5;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.modal-close-button:active {
  background-color: #e5e5e5;
}

.modal-close-button:active .modal-close-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  margin-top: 5px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-search-form {
  display: grid;
  grid-template-columns: 155px 133px 56px 230px;
  grid-template-rows: auto auto auto auto auto;
}

.modal-search-label {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.modal-search-field {
  height: 50px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font: inherit;
  line-height: 18px;
  font-weight: 700;
  font-size: 18px;
}

.date-field {
  width: 420px;
  padding: 16px 55px 16px 19px;
}

.date-field-icon {
  position: absolute;
  top: 12px;
  right: 19px;
}

.date-field:hover {
  background-color: #e5e5e5;
}

.date-field:focus {
  background-color: #e5e5e5;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.number-field {
  width: 133px;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 18px;
  text-align: center;
  appearance: textfield;
}

.number-field::-webkit-outer-spin-button,
.number-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.field-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  position: relative;
}

.number-field:focus {
  outline: none;
}

.field-group-arrival,
.field-group-departure {
  grid-column: 1/-1;
}

.field-group-adults {
  grid-column: 1/3;
}

.field-group-children {
  grid-column: 4/5;
}

.modal-search-submit {
  grid-column: 1/-1;
  font-size: 20px;
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  border-radius: 10px;
}

.active {
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #000000;
  color: #000000;
}

.modal-search-message {
  font: inherit;
  color: #333333;
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 11px;
  grid-column: 2/5;
}

.number-change-buttons {
  position: relative;
  width: 133px;
}

.number-change {
  position: absolute;
  border: none;
  background-color: inherit;
  opacity: 0.3;
}

.number-change:hover {
  opacity: 1;
}

.number-change:focus {
  opacity: 1;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 4px;
  outline: none;
}

.number-change:active {
  opacity: 0.2;
}

.number-change-more {
  top: 12px;
  right: 13px;
  padding: 6px;
}

.number-change-less {
  bottom: 13px;
  left: 13px;
  padding: 12px 6px;
  font: 0;
  line-height: 1px;
}

.form-label-icon {
  position: relative;
  padding-right: 36px;
  line-height: 18px;
  text-align: center;
}

.info {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83b3d3;
  right: 0;
  border: none;
  line-height: 25px;
  background-image: url("../img/icons/interface/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.info:hover {
  background-color: #68a2ca;
}

.error-message {
  color: #ff5757;
}

.info-block {
  position: absolute;
  width: 256px;
  font: inherit;
  padding: 15px 22px 18px 22px;
  min-height: 50px;
  background-color: #333333;
  color: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  left: -62px;
  top: 40px;
  display: none;
}

.info-open {
  display: block;
}

.info-block::before {
  content: url("../img/icons/interface/info-triangle.svg");
  position: absolute;
  top: -16px;
  left: 119px;
}

.info-text {
  font: inherit;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: start;
  padding-top: 5px;
  padding-bottom: 5px;
}

.newsletter-form:disabled {
  opacity: 0.3;
}

.newsletter-form:disabled:hover {
  opacity: 0.3;
  outline: none;
  box-shadow: none;
  cursor: default;
}
