@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color:#333333;
  background-color:#F2F2F2;
}

a {
  text-decoration: none;
}

.navigation-link {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  text-transform: uppercase;
}

.blue-button {
  background-color: #83B3D3;
}

.green-button {
  background-color: #7DB54F;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.hotel-search-link {
  font-size: 20px;
  line-height: 36px;
}

.newsletter-button,
.pagination-download-more,
.pagination-link {
  font-size: 20px;
  line-height: 26px;
}

.reset-button {
  font-size: 18px;
  line-height: 24px;
  background: transparent;
  text-transform: none;
}

.welcome {
  background-color: rgb(56, 10, 10);
  background-image: url("../img/background/index-background.jpg");
  background-size: 1200px 485px;
  background-repeat: no-repeat;
  text-align: center;
}

.main-introduction {
  text-align: center;
}

.main-introduction b {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.main-introduction p {
  font-weight: 400;
  line-height: 36px;
}

.advantages {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-item:nth-child(4n+1) .advantages-title {
  color: #FFFFFF;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4n+1) {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item:nth-child(3) {
  background-color: #FFFFFF;
}

.advantages-item:nth-child(7) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-number {
  text-transform: uppercase;
}

.hotel-search {
  font-weight: 400;
  text-align: center;
}

.hotel-search-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter {
  text-align: center;
  font-size: 400;
}

.newsletter-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.index-newsletter {
  background-size: 1200px 411px;
  color: #FFFFFF;
  background-color: rgb(56, 10, 10);
  background-image: url("../img/background/newsletter-background.jpg");
  background-repeat: no-repeat;
}

.index-newsletter .newsletter-title {
  color: #FFFFFF;
}

.footer-contacts-phone {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.inner-background {
  color: #FFFFFF;
  background-color: rgb(56, 10, 10);
  background-image: url("../img/background/catalog-background.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 24px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.price-opacity {
  opacity: 0.3;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.sorting {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.sorting b {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.hotels {
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.hotels-card-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.hotels-card-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
